.content__current-position {
    width: 100%;
    margin: auto;
    background-color: #f3f5f7;
    padding: 18px 100px;
    font-size: 1.4rem;
}

.content__current-position__home-page {
    color: #000;
}

.content__introduce-heading:hover,
.content__current-position__home-page:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.content__current-position__current-page {
    color: var(--primary-color);
}

.content__introduce-container {
    width: 100%;
    padding: 24px 100px;
}

.content__introduce-heading {
    font-size: 2rem;
    color: #000;
    font-weight: 500;
    transition: all linear 0.2s;
}

.content__introduce-content {
    padding: 18px 16px;
    border-radius: 4px;
    background-color: #d4edda;
    color: #155724;
    margin: 16px 0;
    font-size: 1.4rem;
}

/* Responsive */
@media (max-width: 1023px)
{
    .content__introduce-container {
        padding: 24px 24px;
    }
}